.background-pane{
    -fx-background-color: #191414;
}

.manuVbox{
    -fx-background-color: #791717;
}

.scroll_pane .viewport{
    -fx-background-color: #132f8b;
}
.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}