/*************************** Border Pane ********************************/
.background_pane {
  -fx-background-color: #000000; /* questo è ok */
  background-color: #000000; /* questo è ok */
  -fx-padding: 30px 15px 10px 15px; /* questo è ok */
  padding: 30px 15px 10px 15px; /* questo è ok */
}
/**********************************************************************/

/************************** Border Pane left  ****************************/
.menuContainer {
  -fx-background-color: rgba(0, 0, 0, 0); /* questo è ok */
  background-color: rgba(0, 0, 0, 0); /* questo è ok */
  -fx-spacing: 8px; /* questo è ok */
}
.menu_box {
  -fx-padding: 12px 16px; /* questo è ok */
  padding: 12px 16px; /* questo è ok */
  /*-fx-alignment: center-top;*/
}
.menu_box .button {
  -fx-background-color: rgba(0, 0, 0, 0); /* questo è ok */
  background-color: rgba(0, 0, 0, 0); /* questo è ok */
  /*-fx-alignment: center-top; /* questo è ok */
  -fx-padding: 4px 12px; /* questo è ok */
  padding: 4px 12px; /* questo è ok */
  -fx-max-height: 40;
  max-height: 40;
  -fx-min-height: 40;
  min-height: 40;
}
.menu_box .button .label {
  -fx-text-fill: #b3b3b3;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 700;
  font-weight: 700;
}
.menu_box .button .svg_path {
  -fx-stroke: #b3b3b3;
  -fx-margin: 0;
  margin: 0;
  stroke: #b3b3b3;
  -fx-fill: rgba(0, 0, 0, 0);
  fill: rgba(0, 0, 0, 0);
}
.menu_box .button:hover .svg_path,
.menu_box .button:hover .label {
  -fx-stroke: #ffffff;
  stroke: #ffffff;
  -fx-text-fill: #ffffff;
  fill: #ffffff;
}
/**********************************************************************/

/************************** Border Pane Center ****************************/

.hbox_header {
  -fx-background-radius: 8px 8px 0 0;
  -fx-padding: 20px;
  padding: 20px;
  -fx-max-height: 64px;
  -fx-min-height: 64px;
  min-height: 64px;
  max-height: 64px;
}
.hbox_header > .header_buttons {
  /* button di default */
  border-width: 0;
  -fx-border-width: 0;
  -fx-padding: 3px 15px 3px 3px;
  padding: 3px 15px 3px 3px;
  -fx-background-color: transparent;
  background-color: transparent;
  -fx-background-radius: 16px;
  -fx-cursor: hand;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 700;
  font-weight: 700;
  -fx-text-fill: #ffffff;
  cursor: hand;
  border-color: rgb(0, 0, 0);
  -fx-border-color: rgb(0, 0, 0);
}
.hbox_header > .header_buttons:hover {
  /* se passi sopra */
  -fx-background-color: rgba(0, 0, 0, 0.56);
  background-color: rgba(0, 0, 0, 0.56);
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
.hbox_header > .header_buttons:focused {
  /* se schiacci */
  -fx-background-color: rgba(0, 0, 0, 0.72);
  background-color: rgba(0, 0, 0, 0.72);
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.hbox_header > .login_butt {
  /* button di default */
  border-width: 0 ;
  -fx-border-width: 0 ;
  -fx-background-color: transparent;
  background-color: transparent;
  -fx-background-radius: 16px;
  -fx-cursor: hand;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 700;
  font-weight: 700;
  -fx-text-fill: #ffffff;
  cursor: hand;
  border-color: rgb(0, 0, 0);
  -fx-border-color: rgb(0, 0, 0);
}
.hbox_header > .login_butt:hover {
  /* se passi sopra */
  -fx-background-color: rgba(0, 0, 0, 0.56);
  background-color: rgba(0, 0, 0, 0.56);
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
.hbox_header > .login_butt:focused {
  /* se schiacci */
  -fx-background-color: rgba(0, 0, 0, 0.72);
  background-color: rgba(0, 0, 0, 0.72);
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}


.scroll_pane {
  -fx-padding: 0;
  padding: 0;
  -fx-background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  -fx-background-radius: 8px;
}
.scroll_pane .viewport {
  /* rendo lo sfondo trasparente  della scroll pane */
  -fx-padding: 12px;
  padding: 12px;
  -fx-background-color: rgb(0, 0, 0); /* Colore di sfondo della vista */
  background-color: rgba(0, 0, 0, 0);
  -fx-background-radius: 8px;
}

.scroll_pane:focused {
  /*così si toglie outline di merda*/
  -fx-background-insets: 0;
}

/*************************** Util ********************************/
.base {
  -fx-background-color: #121212;
  background-color: #121212;
  -fx-background-radius: 8px;
  border-radius: 8px;
}
.background_main_color {
  -fx-background-color: #000000;
  background-color: #000000;
}

.background_secondary_color {
  -fx-background-color: #121212;
  background-color: #121212;
}

.top_round {
  -fx-background-radius: 8px 8px 0 0;
}

/**********************************************************************/

.label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 20px;
  font-size: 20px;
  -fx-font-weight: bold;
  font-weight: bold;
}

/************************************************************************************/

/**********************************************************************/

/*************************** SignIn Window ********************************/

.sign_box {
  -fx-background-color: #1e1e1e;
  background-color: #1e1e1e;
  -fx-background-radius: 8px;
  border-radius: 8px;
}

.sign_box > .h_box > .label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 32px;
  font-size: 32px;
}
.fill_box .label {
  -fx-text-fill: #ffffff;
  -fx-font-size: 14px;
  font-size: 14px;
}

.text_field {
  -fx-background-color: #1e1e1e;
  background-color: #1e1e1e;
  -fx-border-color: #878787;
  border-color: #878787;
  -fx-border-width: 1px;
  border-width: 1px;
  -fx-border-radius: 4px;
  border-radius: 4px;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 400;
  font-weight: 400;
  -fx-padding-inline: 14px;
  padding-inline: 14px;
  -fx-text-fill: #ffffff;
  -fx-cursor: hand;
  cursor: hand;
}

.text_field:hover {
  -fx-border-color: #ffffff;
  border-color: #ffffff;
}
.text_field:focused {
  -fx-border-color: #ffffff;
  border-color: #ffffff;
}
.button_box {
  -fx-width: 100%;
  width: 100%;
  -fx-background-radius: 500px;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 700;
  font-weight: 700;
  -fx-background-color: #878787;
  background-color: #878787;
  -fx-cursor: hand;
  cursor: hand;
}

.button_box:hover {
  -fx-background-color: #35d0ae;
  background-color: #35d0ae;
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.button_box:focused {
  -fx-background-color: #35d0ae;
  background-color: #35d0ae;
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
.home_label {
  -fx-font-size: 14px;
  font-size: 14px;
}
.home_label:hover {
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
.home_label:focused {
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
.not_label {
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 400;
  font-weight: 400;
  -fx-text-fill: #6a6a6a;
}
.sign_label {
  -fx-font-size: 16px;
  -fx-font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  -fx-text-fill: #ffffff;
  -fx-underline: true;
  -fx-border: 0px;
  border: 0px;
}

.sign_label:hover {
  -fx-cursor: hand;
  cursor: hand;
  -fx-text-fill: #35d0ae;
}

/************************************************************************************/

/**********************************************************************/

/*************************** SignUp Window ********************************/

.signup_header .label {
  -fx-font-size: 20px;
  font-size: 20px;
}

.close_button {
  -fx-background-color: transparent;
  background-color: transparent;
}
.close_button:hover > .close_svg {
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
  -fx-fill: #ffffff;
  fill: #ffffff;
}

/*******************home view  hbox che contiene le playlist ***********************/
.playlistBox_container {
  -fx-background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.playlistBox_container .playlistBox {
  -fx-background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1); /* ok per l'album */
  -fx-background-radius: 8px;
}
.playlistBox_container .playlistBox .label {
  -fx-font-size: 13px;
  font-size: 13px;
}
.playlistBox_container .playlistBox:hover {
  -fx-background-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

/* mi sa che questa è da togliere. idk */
.playlistBox_container .playlistBox .image_container {
  -fx-background-radius: 8px;
  /*****************************************************/
}

.playlistBox_container .playlistBox .backgroundPlaylistImage {
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
  -fx-background-position: center;
  background-position: center;
}

/**********************************************************************/

/*******************home view  flowpane che contiene album **********/
.albumBox_container {
  -fx-background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.albumBox_container .albumBox {
  -fx-background-color: #181818;
  background-color: #181818;
  -fx-background-radius: 8px;
}
.albumBox_container .albumBox .imgregion {
  -fx-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -fx-background-size: contain;
  background-size: contain;
  -fx-background-position: center;
  background-position: center;
}
.albumBox_container .albumBox:hover {
  -fx-background-color: #282828;
  background-color: #282828;
}
/**********************************************************************/

/*******************home view  flowpane che contiene album **********/
.tableView {
  -fx-background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.tableView .scroll-bar * {
  -fx-min-width: 0;
  min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  max-width: 0;

  -fx-min-height: 0;
  min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  max-height: 0;
}

.tableView .column-header {
  font-size: 16px; /* Cambia la dimensione del carattere */
  background-color: rgba(0,0,0,0); /*per qulche motivo questo è il colore dell'header */
  border-width: 0 0 1px 0 ;
  border-color:rgba(255, 255, 255, 0.1);
  -fx-font-size: 16px; /* Cambia la dimensione del carattere */
  -fx-background-color: rgba(0,0,0,0); /*per qulche motivo questo è il colore dell'header */
  -fx-border-width: 0 0 1px 0 ;
  -fx-border-color:rgba(255, 255, 255, 0.1);
}

.tableView .column-header .label {
  font-size: 16px; /* Cambia la dimensione del carattere */
  font-weight: bold; /* Cambia lo stile del carattere in grassetto */
  background-color: rgba(0,0,0,0); /*anche queto colore dell'header*/
  padding: 10 0;
  -fx-font-size: 16px; /* Cambia la dimensione del carattere */
  -fx-font-weight: bold; /* Cambia lo stile del carattere in grassetto */
  -fx-text-fill: white; /* Cambia il colore del testo in blu */
  -fx-background-color: rgba(0,0,0,0); /*anche queto colore dell'header*/
  -fx-alignment: CENTER-LEFT;
  -fx-padding: 10 0;

  

}

/*prima era di sotto*/
.tableView .table-cell {
  /*change to 0 after testing */
  -fx-border-width: 0;
  border-width: 0;
  -fx-alignment: CENTER-LEFT;
  /* space testing color */
  background-color: rgb(0,0,0,0);
  padding: 5 0;
  -fx-background-color: rgb(0,0,0,0);
  -fx-padding: 5 0;
}

.tableView .customColumn {
  /**/
}

.tableView .table-cell .hboxCustomColumn {
  -fx-alignment: CENTER-LEFT;
  -fx-padding: 0;
  padding: 0;
}
.tableView .table-cell .track_details {
  -fx-alignment: CENTER-LEFT;
  -fx-padding: 0;
  padding: 0;
}
.tableView .table-cell .track_details .trackName {
  -fx-padding: 0;
  padding: 0;
  -fx-font-size: 16px;
  -fx-font-weight: 400;
  font-size: 16px;
  font-weight: 400;
}

.tableView .table-cell .track_details .authorsNames {
  -fx-padding: 0;
  -fx-font-size: 14px;
  -fx-font-weight: 400;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}
/*ok, cambia la pos del numerino all'interno della cella*/
.tableView .indexColumn .label {
  -fx-alignment: CENTER;
}

.tableView .buttonColumn .label {
  -fx-alignment: CENTER;
}
.tableView .indexColumn {
  -fx-alignment: CENTER;
}
.tableView .buttonColumn {
  -fx-alignment: CENTER;
}

.tableView .column-header-background {
  -fx-background-color: rgba(136, 7, 7, 0);
  background-color: rgba(0, 0, 0, 0);
}
.tableView .column-header-background .filler {
  -fx-background-color: rgba(136, 7, 7, 0);
  background-color: rgba(0, 0, 0, 0);
}

.tableView .table-row-cell {
  -fx-background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.tableView .table-row-cell:hover {
  -fx-background-color: rgb(42, 42, 42);
  background-color: rgb(42, 42, 42);
  -fx-background-radius: 4;
}
.tableView .table-row-cell:focused {
  -fx-background-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  -fx-background-radius: 4;
}
.tableView .table-row-cell .text {
  -fx-fill: white;
  fill: white;
}

.tableView_button {
  -fx-background-radius: 16px;
  -fx-font-size: 16px;
  font-size: 16px;
  -fx-font-weight: 500;
  font-weight: 500;
  -fx-background-color: transparent;
  background-color: transparent;
  -fx-cursor: hand;
  cursor: hand;
  -fx-border-color: rgb(142, 140, 140);
  -fx-border-width: 1px;
  -fx-border-radius: 15px;
  border-color: rgb(142, 140, 140);
  border-width: 1px;
  border-radius: 15px;
}

.tableView_button :hover {
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.tableView_button:focused {
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}
/**********************************************************************/

.textfield_cp {
  -fx-background-color: #121212;
  background-color: #121212;
  -fx-text-fill: white;
  -fx-prompt-text-fill: white;
}

.button_cp {
  -fx-width: 100%;
  width: 100%;
  -fx-background-radius: 500px;
  -fx-font-size: 24px;
  font-size: 24px;
  -fx-font-weight: 700;
  font-weight: 700;
  -fx-background-color: #878787;
  background-color: #878787;
  -fx-cursor: hand;
  cursor: hand;
}

.button_cp:hover {
  -fx-background-color: #35d0ae;
  background-color: #35d0ae;
  -fx-cursor: hand;
  cursor: hand;
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.button_cp:focused {
  -fx-background-color: #35d0ae;
  background-color: #35d0ae;
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.image_cp:hover {
  -fx-scale-x: 1.04;
  -fx-scale-y: 1.04;
}

.explore_label {
  -fx-font-size: 32px;
  font-size: 32px;
}

.choiceBox{
  -fx-mark-color: rgb(255, 255, 255);
  -fx-background-color:#121212;
  background-color:#121212;
  -fx-prompt-text-fill:rgba(111, 108, 108, 0.651);
  -fx-text-fill: rgb(255,255,255);
  -fx-padding: -5 0 0 -2;
  padding: -5 0 0 -2;
  -fx-cursor: text;
  cursor: text;
  -fx-border-color:#121212#121212 rgba(111, 108, 108, 0.651)#121212;
  border-color:#121212#121212 rgba(111, 108, 108, 0.651)#121212;
  -fx-border-width: 2;
  border-width: 2;
  -fx-border-radius:3;
  border-radius:3;

}



.choiceBox .label{

  -fx-alignment:CENTER;
}


.choiceBox:hover{
  -fx-prompt-text-fill:rgb(255, 255, 255);
  -fx-border-color:#121212#121212 rgb(255, 255, 255)#121212;
  border-color:#121212#121212 rgb(255, 255, 255)#121212;
}


.choiceBox:active{
  -fx-border-color:#121212#121212 rgb(255, 255, 255)#121212;
  border-color:#121212#121212 rgb(255, 255, 255)#121212;
}

.choiceBox .context-menu{
  -fx-background-color: #303030;
  background-color: #303030;
}
.choiceBox .menu-item { 
  -fx-pref-width: 100;
}
.choiceBox .menu-item:focused { -fx-background-color: rgb(91, 91, 91);
  background-color: rgb(91, 91, 91); }
.choiceBox .menu-item > .label { -fx-text-fill: white; }

.choiceBox .menu-item:focused > .label { -fx-text-fill: white; }